<!DOCTYPE html>
<html id="app" lang="en">
  <div *ngIf="entry" class="container">
    <h2>{{ entry.name }} {{ entry.surname }}</h2>
    <button routerLink="/entries" class="btn">All entries</button>
    <ul class="entries" class="list">
      <li
        *ngFor="let e of entry.contactDetails; let i = index"
        class="list-item"
      >
        <div>
          <label>{{ e.description }}</label>
          <br />

          <label>{{ e.content }}</label>
          <br />
        </div>
      </li>
    </ul>
    <div>
      <button routerLink="/entry-edit/{{ entry.phonebookEntryId }}" class="btn">
        Edit
      </button>
    </div>
  </div>
</html>
