<mat-card>
  <mat-card-header>
    <mat-card-title>{{ entry.name }} {{ entry.surname }}</mat-card-title>
    <mat-card-subtitle>Contact details</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-nav-list *ngFor="let e of entry.contactDetails; let i = index">
      <mat-list-item>
        <span>{{ e.description }} - {{ e.content }}</span>
      </mat-list-item>
    </mat-nav-list>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/entry-edit/{{ entry.phonebookEntryId }}" color="primary">
      Edit
    </button>
  </mat-card-actions>
</mat-card>
