<div *ngIf="entry" class="products">
  <h2>{{ entry.name | uppercase }} Details</h2>
  <div><span>Name: </span>{{ entry.name }}</div>
  <div><span>Surname: </span>{{ entry.surname }}</div>
  <div *ngIf="entry.Details" class="products">
    <div><span>Name: </span>{{ entry.details.description }}</div>
    <div><span>Surname: </span>{{ entry.details.content }}</div>
  </div>
  <ul class="entries">
    <li *ngFor="let e of entry.contactDetails; let i = index">
      <div>
        <label
          >Description:
          <label>{{e.description}}</label>
          </label
        ><br />
        <label
          >Number:
          <label>{{e.content}}</label> </label
        ><br />
      </div>
    </li>
  </ul>
  <div>
    <button routerLink="/entry-edit/{{entry.phonebookEntryId}}">
      Edit
    </button>
  </div>
</div>
