<mat-card>
  <mat-card-header>
    <mat-card-title>All contacts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="main-container">
      <div>
        <form>

          <mat-form-field>
            <input matInput [(ngModel)]="searchterm" (keyup)="onKey($event)" placeholder="Search" name="search" />
          </mat-form-field>

        </form>
        <mat-card-actions>
          <button mat-raised-button (click)="add()" color="primary">
            Add new
          </button>
        </mat-card-actions>
      </div>

      <mat-nav-list *ngFor="let e of filteredEntries; let i = index">
        <mat-list-item>
          <a matLine routerLink="/entry-detail/{{ e.phonebookEntryId }}">{{ e.name }} {{ e.surname }} </a>
          <button mat-icon-button (click)="showDeleteDialog(e)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>

    </div>
  </mat-card-content>
</mat-card>
