<!DOCTYPE html>
<html id="app" lang="en">
  <h2>Phonebook Entries</h2>

<div class="container">
  <div >
    <input
      [(ngModel)]="searchterm"
      (keyup)="onKey($event)"
      placeholder="Search"
      class="entry"
    />
    <button (click)="add()" class="btn --spaced">
      Add new
    </button>
  </div>

  <ul class="list">
    <li class="list-item" *ngFor="let e of filteredEntries; let i = index">
      <button
        class="btn"
        title="delete entry"
        (click)="delete(e.phonebookEntryId)"
      >
        Remove
      </button>

      <a class="link" routerLink="/entry-detail/{{ e.phonebookEntryId }}">
        {{ e.name }} {{ e.surname }}
      </a>

    </li>
  </ul>
</div>
</html>
