<!DOCTYPE html>
<html id="app" lang="en">
  <h2>Add a new entry</h2>
  <button routerLink="/entries" class="btn">All entries</button>
  <div class="container">
    <div>
      <input [(ngModel)]="entryData.name" placeholder="Name" class="entry" />
      <br />

      <input
        [(ngModel)]="entryData.surname"
        placeholder="Surname"
        class="entry"
      />
      <br />
      <div>
        <button class="btn" title="Add Number" (click)="addNumber()">
          Add item
        </button>
        <ul class="entries" class="list">
          <li
            *ngFor="let e of entryData.contactDetails; let i = index"
            class="list-item"
          >
            <div class="group">
              <input
                [(ngModel)]="e.description"
                placeholder="Description"
                class="entry"
              />
              <br />

              <input
                [(ngModel)]="e.content"
                placeholder="Number"
                class="entry"
              />
              <button
                class="btn"
                title="delete product"
                (click)="removeNumber(e)"
              >
                Remove
              </button>
            </div>
          </li>
        </ul>
      </div>
      <br />
      <button (click)="addEntry()" class="btn">Save</button>
    </div>

  </div>
</html>
