/* You can add global styles to this file, and also import other style files */
@import "~csstyle/csstyle";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

//using pureCSS

@include component(btn) {
  border-radius: 5px;
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  color: #1f1f1f;
  background-color: #eeeeee;
  transition: background-color 0.2s;
  font-size: medium;

  &:hover {
    background-color: darken(#c4c4c4, 10%);
  }

  @include option(spaced) {
    margin-left: 5px;
    margin-right: 5px;
  }

  @include option(end)
  {
    align-self: flex-end;
  }
}

@include component(entry) {
  border-radius: 5px;
  height: 20px;
  margin: 5px;
  font-size: medium;
}

@include component(list) {
  list-style-type: none;
  margin-top:10px;
  margin-botton: 10px;
}

@include component(link) {
  font-size: medium;
  color: black;
  text-decoration: none;


  &:visited {
    color: black;
  }

  &:hover {
    color: #1976d2;
  }
}

@include component(list-item) {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -40px;
}

@include component(group) {
  border-radius: 5px;
  border-width: 5px;
  border-color: #292929;
  background-color: rgb(238, 238, 238);
  max-width: 200px;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@include component(container) {
  border-radius: 5px;
  border-width: 5px;
  border-color: #292929;
  background-color: #f3f3f3;
  max-width: 300px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@include component(grid-container) {
  display: grid;
  width: fit-content;
  // min-width: 550px;
  align-self: center;
  vertical-align: center;
  grid-template: auto / auto auto auto;
  grid-gap: 10px;
  padding: 10px;

  &:div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
  }

  @include option(end)
  {
    align-self: flex-end;
  }
}

@include component(spacer){
  margin: 10px;
}

@include component(horizontal-container){
  float: left;
}

@include component(circle-link)  {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;

  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// Define a mixin that accepts a theme and outputs the theme-specific styles.

